.img-fluid {
    max-width: 75%;
    max-height: 75%;
}

.carousel-caption {
    position: inherit;
    color: #333;
    text-align: left;
    left:5%;
}
/* Relaces bootstrap carousel-caption class */
.carousel-txt {
  margin-left: 50px;
}